@page
@model TicketOrderAPI.Pages.Flights.EmployeesModel
@{
}

<h1>Lista lot&#243;w</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DestinationAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureAirport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flight)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureAirport)
                </td>
                <td>

                    <a asp-page="./Details" asp-route-id="@item.FlightID">Szczeg&#243;&#322;y</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FlightID">Usu&#324;</a>                      
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    
</p>
<div>
    <a asp-page="./Create"><input type="button" value="Utw&#243;rz nowy lot"></a>

    <a asp-page="./ExcelExport"><input type="button" value="Generuj tablic&#281; bilet&#243;w"></a>

    <a asp-page="./Employees"><input type="button" value="Wr&#243;&#263; do listy"></a>
</div>

